body {
  color: #5b5d60 !important;
}

#barLegend{
  float:left;
  margin-left:55px;
  font-weight:bold;
  padding-right:55px;
}
#count-symptoms {
  float: right;
  padding-right: 120px;
}
#error {
  color:#f00;
  font-weight:bold;
  font-size:115%;
}
.checkholder {
  float:left;
  margin:5px 25px 5px 2px;
  font-size:14px;
}
.big {
  font-size:26px;
}
.check-color {
  display:block;
  padding:7px 15px;
  margin-left:8px;
  float:left;
  position:relative;
}
.checkholder .added-drug{
  float:left;
  font-size:16px;
  margin:0
}
.checkholder label{
  font-weight: normal;
  position: relative;
  top: -3px;
  left: 5px;
}
#link-save a,
#clear-all{
  color:#006689;
}
.fa span {
  position:absolute;
  visibility: hidden;
  width:0;
  height:0;
}
#drug-chart {
  display:block;
  clear:both;
  padding:0;
  margin-bottom:25px;
  position:relative;
}
#pie-chart {
  display:block;
  clear:both;
  margin:0 auto;
}

.hero .btn-default, .hero .btn-default:hover {
  background: #404C54 !important;
  text-transform: uppercase;
  border:none;
}
#text {
  float:left;
  padding:10px 0;
  width:300px;
}

#inner {
  padding:10px;
  max-width:960px;
}
#link-save {
  clear:both;
  padding-bottom:15px;
}
#link-save h3 {
  float:left;
  margin: 0 25px 0 0;
  color: #5b5d60;
}
#link-save a {
  float:left;
  margin-top:1px;
}
.col-md-12 #clear-all {
  display:block;
  clear:both;
  margin-left:0;
}
footer {
  clear:both;
}
.navbar p {
  margin-bottom: 10px;
  margin-top: 10px;
}
.navbar .btn-default, .navbar .btn-default:hover {
  background: #00A159;
  border-color: #00A159;
  background-image: none;
  color: #fff;
  text-shadow: none;
  text-transform: uppercase;
}
@media (min-width: 600px) {
  #pie-chart {
    float:right;
    margin-right:100px;
  }
}
