/* body {
  max-width:960px;
  margin:0 auto;
  padding:25px;
  color: #333333;
  font-family: Tahoma, Geneva, sans-serif;
}
*/
#barLegend{
  float:left;
  margin-left:55px;
  font-weight:bold;
  padding-right:55px;
}
#count-symptoms {
  padding-left:55px;
}
#error {
  color:#f00;
  font-weight:bold;
  font-size:115%;
}
.checkholder {
  float:left;
  margin:5px 25px 5px 2px;
  font-size:14px;
}
.check-color {
  display:block;
  padding:7px 15px;
  margin-left:8px;
  float:left;
  position:relative;
}
.checkholder .added-drug{
  float:left;
  font-size:16px;
  margin:0
}
.checkholder label{
  font-weight: normal;
  position: relative;
  top: -3px;
  left: 5px;
}
#link-save a,
#clear-all{
  color:#00A159
}
#drug-chart {
  display:block;
  clear:both;
  padding:0;
  margin-bottom:25px;
  position:relative;
}
#pie-chart {
  display:block;
  clear:both;
  margin:0 auto;
}
#text {
  float:left;
  padding:10px 0;
  width:300px;
}

#inner {
  padding:10px;
  max-width:960px;
}
#link-save {
  clear:both;
  padding-bottom:15px;
}
#link-save h3 {
  float:left;
  margin: 0 25px 0 0;
}
#link-save a {
  float:left;
  margin-top:1px;
}
.col-md-12 #clear-all {
  display:block;
  clear:both;
  margin-left:0;
}
footer {
  clear:both;
}
@media (min-width: 600px) {
  #pie-chart {
    float:right;
    margin-right:100px;
  }
}